/* Media Queries */


/* About */

@media screen and (max-height:790px),
        screen and (max-height:750px){

    @media (max-width:1250px){
        .about-content{
            padding: 20px 0 0 5%;
        }
        .about-img{
            max-width: 350px;
        }
        .about-button{
            margin: 25px 0 0 0;
        }
    }

}

@media screen and (max-height:750px),
        screen and (max-height:690px){

        .about-img{
            max-width: 350px;
        }
        .about-content{
            padding: 0 15% 0 11%;
        }
    
    @media (max-width:1150px){
        .about-content{
            padding: 20px 5% 0;
        }
        .about-img{
            max-width: 300px;
            margin-top: 15px;
        }
        .about-paragraph{
            font-size: 18px;
        }
        .about-text-box{
            margin-bottom: 15px;
        }
    }    
} 

@media screen and (max-height:690px),
        screen and (max-height:650px){

        .about-img{
            max-width: 300px;
            margin-top: 0;
        }
        .about-paragraph{
            font-size: 18px;
        }
        .about-text-box{
            margin-bottom: 15px;
        }
        .about-button{
            margin: 25px 0 0 0;
        }

    @media (max-width: 1170px) {
        .about-content{
            padding: 0 5% 0;
        }
        .about-img{
            max-width: 300px;
            margin-top: 15px;
        }
        .about-paragraph{
            font-size: 18px;
        }
        .about-text-box{
            margin-bottom: 15px;
        }
    }    
}

/* 900px Width; The same for any Height*/

@media (max-width:930px) {
    .about-content{
        padding: 20px 10% 0 10%;
        display:table;    
    }
    .about-img {
        display:table-footer-group;
    }
    .about-text {
        display:table-header-group;
    }
    .about-img{
        max-width: 400px;
        margin: 40px 0 20px 0;
    }
    .about-text{
        left: 0;
    }
    .about-button{
        margin: 25px 0 0 0;
    }
}
@media (max-width:600px){
    .about-img{
        max-width: 100%;
    }
} 
@media (max-width:520px){
    .about-content{
        padding: 30px 5% 0;
    }
}



/* Reviews Page */

@media screen and (max-height:790px),
        screen and (max-height:750px){

    @media (max-width:1200px){
        .reviews-content{
            padding: 0 10%; 
        }
        .second-row{
            padding: 0 10%;
        }
        .review-box {
            padding: 0 15px;
        }
    }
    @media (max-width:1120px){
        .reviews-content{
            padding: 0 7%; 
        }
        .second-row{
            padding: 0 7%;
        }
    }
    @media (max-width:991px){
        .review-head{
            display: none;
        }
        .review-name{
            margin-bottom: 10px;
        }
        .reviews-content p{
            margin: 10px;
        }
        .second-row{
            padding: 0;
        }
    }
}
@media screen and (max-height:750px),
        screen and (max-height:700px){

        .review-head{
            margin-bottom: 10px;
        }
        .review-name{
            margin-bottom: 10px;
        }
        .reviews-content p{
            margin: 10px;
        }

    @media (max-width:1200px){
        .reviews-content{
            padding: 0 9%; 
        }
        .second-row{
            padding: 0 9%;
        }
    }
    @media (max-width:1120px){
        .reviews-content{
            padding: 0 7%; 
        }
        .second-row{
            padding: 0 7%;
        }
    }
    @media (max-width: 991px){
        .review-head{
            display: none;
        }
        .review-name{
            margin-top: 8px;
        }
        .reviews-content p{
            margin: 6px;
        }
        .review-box {
            padding: 0 10px;
        }
        .reviews-content{
            padding: 0 5%; 
        }
        .second-row{
            padding: 0;
        }
    }
    @media (max-width: 830px){
        .review-head{
            display: none;
        }
        .review-name{
            margin-top: 12px;
            margin-bottom: 5px
        }
        .reviews-content p{
            margin: 5px;
        }
        .review-box {
            padding: 0 10px;
        }
        .reviews-content{
            padding: 0 3%; 
        }
    }
}

/* 767px Width; The same for any Height*/

@media (max-width: 767px){
    .review-head{
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px
    }
    .reviews-content{
        padding: 0 20%; 
    }
    .second-row{
        padding: 0;
    }
    .review-name{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .reviews-content p{
        margin: 12px;
    }
    .review-box {
        text-align: center;
        padding: 0 15px;
    }
    }
    @media (max-width: 600px){
    .reviews-content{
        padding: 0 10%; 
    }
    }
    @media (max-width: 500px){
    .reviews-content{
        padding: 0 3%; 
    }
} 




/* Contact Page */

@media screen and (max-height:790px),
        screen and (max-height:750px){

    @media (max-width:1260px){
        .contact-box{
            vertical-align: top;
            padding-left: 5%;
        }
        #order{
            left: 50px;
        }
    }
    @media (max-width:1150px){
        .map1{
            display: none;
        }        
        .map2{
            display: inline-block;
        }
    }
}


@media screen and (max-height:750px),
        screen and (max-height:700px){

    .contact-head{
        display: none;
    }
}
@media screen and (max-height:700px),
        screen and (max-height:650px){

    .contact-catag {
        padding-bottom: 0.3em;
    }
    .contact-value{
        padding-bottom: 0.3em;   
    }
    input[type=text], input[type=tel], input[type=email], textarea, select {
        margin-bottom: 9px;
    }
    .map1{
        display: none;
    } 
    .map2{
        display: none;
    } 
    .map4{
        display: none;
    }        
    .map3{
        display: inline-block;
    }


    @media (max-width:1150px){
        .map3{
            display: none;
        }        
        .map4{
            display: inline-block;
        }
    }
}

/* 1000px Width; The same for any Height*/

@media (max-width: 1000px){
    .contact-head{
        display: block;
    }
    input[type=text], input[type=tel], input[type=email], textarea, select {
        margin-bottom: 20px;
    }
    .contact-catag {
        padding-bottom: 0.5em;
    }
    .contact-value{
        padding-bottom: 0.5em;   
    }
    .contact-box{
        padding-left: 10%;
        margin-top: 50px;
    }
    #order{
        display: block;
        margin-top: 50px;
        margin-bottom: 25px;
        left: 0;
    }
    .map2{
        display: none;
    } 
    .map3{
        display: none;
    }        
    .map4{
        display: none;
    } 
    .map1{
        display: inline-block;
        margin-top: 30px;
    }
} 
@media (max-width: 720px){
    .contact-box{
        padding-left: 5%;
    }
    .map1{
        display: none;
    }        
    .map2{
        display: inline-block;
    }
} 
@media (max-width: 520px){ 
    .contact-box{
        padding-left: 5%;
        padding-right: 5%;
    }  
    .map2{
        display: none;
    }
    #order{
        width: 100%;
    }
} 



















/* Home Page */

@media screen and (max-height:790px),
        screen and (max-height:750px){

    
}


@media screen and (max-height:750px),
        screen and (max-height:700px){

    
}
@media screen and (max-height:700px),
        screen and (max-height:650px){

   

}

/* 1000px Width; The same for any Height*/

@media (max-width: 1000px){
  
} 
@media (max-width: 720px){
    
} 
@media (max-width: 520px){ 
   
} 











@media (max-width: 1375px){

    .welcome-img{
        right: 2.5%; 
        top: 80px;
        width: 450px;
    }
    .welcome-box {
        padding-bottom: 3%;
    }
    .features{
        padding: 20px 10% 0; 
    }

}

@media (max-width: 1300px){

    .welcome-img{
        right: 2.5%; 
        top: 80px;
        width: 380px;
    }
    .welcome-box {
        padding-bottom: 2%;
    }

}

@media (max-width:1250px){
    .features{
        padding: 20px 10% 0; 
    }
}

@media (max-width: 1225px){
    .logo{
        left: 130px;
    }
    .welcome-img{
        display: none;
    }
    .land-section{
        padding-left: 12%;
    }
} 

@media (max-width:1050px){
    .logo{
        left: 50px;
        width: 300px;
    }

}

@media (max-width:1000px){
    .logo{
        display: none;
    }

}

@media (max-width:991px){
    .features{
        padding: 20px 10% 0; 
    }
}
@media (max-width:969px){
    .product-head{
        width: 100%;
        margin-bottom: 35px;
    }
}



@media (max-width:850px) {
    .land-section{
        padding: 0 9% 0;
    }
    .slogan-text{
        font-size: 4rem;
    }
    .features{
        padding: 20px 10% 0; 
    }
    .logo{
        position: inherit;
        display: inline-block;
        margin-top: 75px;
    }
}

@media (max-width:640px){
    .land-section{
        padding: 0 7% 0;
    }
    .welcome-box{
        text-align: center;
    }
    .features{
        padding: 20px 10% 0; 
    }
    .products-content {
        text-align: center;
        padding: 0 5% 0;
    }
    .product-description{
        margin-left: 0;
    }
}

@media (max-width:550px) {
    .land-section{
        padding: 0 3% 30px;
    }
    .slogan-text{
        line-height: 4rem;
        font-size: 3rem;
    }
    .welcome-img{
        position: inherit;
        display: inline-block;
        width: 90%;
        margin: 0 5%;
    }
    .brand-pic{
        display: none;
    }
    .nav-brand{
        display: inline;
    }
    .logo{
        width: 80%;
        margin: 75px 10% 0;
    }
} 




